# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Jar files
*.jar

# Build-related directories
build/
bin/
.cache/
__pycache__/
cs

# Scala/Metals-related
.metals/
.scala-build/
.bloop/
.ammonite/
metals.sbt
