[submodule "polygeist"]
	path = polygeist
	url = https://github.com/llvm/Polygeist.git
  shallow = true
[submodule "circt"]
	path = circt
	url = git@github.com:EPFL-LAP/circt.git
	branch = main
  shallow = true
