name: C/C++ CI

on:
  # Make sure that settings are set to require permission
  # to run workflows by external contributors!
  pull_request:
    branches: ["main"]

jobs:
  integration:
    if: github.event.pull_request.draft == false
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: check-format-cpp
        run: |
          git ls-files '*.c' '*.cpp' '*.h' '*.hpp' | xargs clang-format-19 --dry-run -Werror

      - name: check-format-python
        run: |
          autopep8 --diff --experimental $(git ls-files '*.py') | tee check.txt && [ ! -s check.txt ]

      - name: build
        run: ./build.sh --release

      - name: integration-test
        run: | 
          cd tools/integration
          python3 run_integration.py --ignore ignored_tests.txt

      - uses: actions/upload-artifact@v4
        with: 
          name: integration-report
          path: |
            integration-test/*/out/sim/report.txt
            integration-test/*/out/dynamatic_*.txt

